<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "header" }}
    {{ template "style" }}
    </head>
  <body>

  </body>
</html>
{{ define "navbars"}}
<header id="header" style="background-color: #08005e;" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <a href="" class="logo d-flex align-items-center">
      <h1 class="sitename">Karthiktn</h1>
    </a>
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/index" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#team">Team</a></li>
        <li class="dropdown"><a href="#"><span>Reports</span> <i class="toggle-dropdown"></i></a>
          <ul>
            <li><a href="/allregister">All</a></li>
            <li><a href="#">Others</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
{{ end }}

{{ define "footer"}}
<footer class="container-fluid text-center footer">
    <p>karthiktn</p>
  </footer>
{{ end }}
