<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header" }}
    {{ template "style" }}
</head>
<body style="background-color:#08005e;">
    <br><br><br><br>
    <h1 class="text-light text-center">Login</h1>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 id="message2" style="margin-left:20px;margin-top:20px;color: red;"></h5>
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <select  name="username" class="form-control border" required>
                                <option value=""></option>
                                <option value="Karthik">Karthik</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input name="userpassword" type="password" class="form-control" required />
                            </div>
                            <button class="btn btn-success" type="submit">Login</button>
                        </form>
                        <p class="mt-3">Not registered?<a href="#">Create anaccount</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
